// Body
$body-bg: #f5f5f5;

// Typography
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #0078FF;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$textLight: #6c757d;
$textDark: #343a40;
$bgLight: #f2f2f2;
//shadow
$shadow0x5y6b: 0px 5px 30px rgba(0,0,0,0.06);

//modal
// $modal-backdrop-bg:  #000;