// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import "node_modules/font-awesome/scss/font-awesome.scss";

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~fotorama/fotorama';
@import '~animate.css';
@import '~aos/dist/aos.css';

body {
    background: #FBFBFD;
    // font-family: Noto Sans Thai, Noto Sans ;
}

// override
.modal-content {
    border: none;
}

.modal-backdrop {
    opacity: 0.8 !important;
}

a:hover {
    text-decoration: none;
}

p {
    color: $textLight;
}

article {
    overflow: hidden;
    padding: 15px;
}

textarea {
    white-space: pre-wrap;
}

textarea:hover,
textarea:active,
textarea:focus {
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
}

i[class="fa fa-reply"] {
    font-size: 10px;
    transform: rotate(180deg);
}

.spinner-loading {
    font-size: 16px;
    color: $textLight;
}

.see-more-reply {
    display: block;
}

.load-more-comment {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.075);
    margin: 0 auto;
    cursor: pointer;

    &:hover{
        opacity: 0.5;
    }

    i {
        vertical-align: middle;
        padding-top: 13px;
    }
}

i[class='fa fa-paper-plane'] {
    font-size: 18px;
    cursor: pointer;
}

.text-light {
    color: $textLight !important;
}

.text-dark {
    color: $textDark !important;
}

.feather {
    width: 22px;
    height: 22px;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

._container {
    margin: 20px auto auto auto;
    max-width: 614px;
    height: auto;
}

.profile-banner {
    width: 100%;
    height: 300px;
    background-size: cover;
    display: block;
    border-radius: 6px 6px 0px 0px;

    .profile-wrap {
        position: relative;
        top: 205px;
        padding-left: 45px;
        color: #fff;
        transition: all 0.5s ease-out;

        @media (max-width: 678px) {
            top: 100px;
            padding-left: 0px;
            text-align: center;
        }

        img {
            border: 3px solid #fff;
            display: inline-block;
            object-fit: cover;

            @media (max-width: 678px) {
                display: block;
                width: 80px;
                margin: 0 auto;
            }
        }

        .profile {
            display: inline-block;
            padding-left: 25px;

            @media (max-width: 678px) {
                margin-top: 20px;
                padding-left: 0px;
                display: block;
            }

            .name {
                font-size: 24px;
                font-weight: bold;
            }

            .city {
                font-size: 14px;
            }
        }
    }
}

.profile-follow-wrap {
    width: 100%;
    padding: 20px;
    background: #fff;
    border: 1px solid #E9E9E9;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.04);
    border-radius: 0px 0px 6px 6px;

    @media (max-width: 678px) {
        text-align: center;
    }

    .follow-detail {
        color: $blue;
        font-weight: 500;
        display: inline;
        padding-left: 180px;

        @media (max-width: 678px) {
            padding-left: 0;
        }

        .follower,
        .following {
            display: inline-block;
        }

        .following {
            margin-left: 15px;
        }
    }

    .follow-btn {
        cursor: pointer;
        float: right;
        position: relative;
        top: -6px;
        width: max-content;
        padding: 5px 10px 5px 10px;
        color: #fff;
        font-weight: 500;
        border-radius: 20px;
        background: $blue;
        transition: 0.3s ease-out;

        &:hover {
            opacity: 0.5;
        }

        @media (max-width: 678px) {
            float: unset;
            width: 100%;
            height: 40px;
            margin-top: 20px;
        }
    }
}

.post-comment-box {
    background: #fff;
    border: 1px solid #E9E9E9;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.04);
    padding: 10px;
    border-radius: 6px;

    img {
        vertical-align: top;
    }

    textarea {
        width: 100%;
        color: #4d4d4d;
        float: left;
        border: 0;
        resize: none;
        font-size: 16px;
        overflow: hidden;
        line-height: 1.4;
    }
}

.post-send-wrap {
    border-top: 1px solid #F1F1F1;
    padding: 15px 10px 0px 10px;

    .post-send-btn,
    a {
        cursor: pointer;
        display: inline-block;
    }

    .image-upload {
        cursor: pointer;
        color: $blue;

        &.disabled {
            color: $textLight;
        }
    }
}

.preview-upload-image {
    background: #ffffff;

    .image-preview {
        height: 130px;
        background-size: cover !important;
        border-radius: 4px;
        opacity: 1;

        &:hover {
            opacity: 0.5;
            transition: all 0.5s ease-out;
        }

        i {
            color: #fff;
            font-size: 18px;
            float: right;
            margin: 6px;
            cursor: pointer;
        }
    }
}

.comment-date {
    margin-top: -3px;
    font-size: 13px;
    color: $textLight;
}

.post-panel {
    border: 1px solid #E9E9E9;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.04);
    background: #fff;
    border-radius: 6px;
    margin-top: 30px;

    .post-panel-header {
        padding: 15px;

        .author {
            font-size: 16px;
            font-weight: bold;
            color: #4d4d4d;
            vertical-align: top;
        }
    }

    .post-panel-body {
        font-size: 18px;
        border-top: 1px solid #f1f1f1;
        border-bottom: 1px solid #f1f1f1;
    }

    .post-panel-action {
        color: $textDark;
        padding: 15px;
        border-bottom: 1px solid #f1f1f1;
    }

    .post-panel-footer {
        padding: 15px;
    }
}

.post-write-comment {

    img {
        vertical-align: -webkit-baseline-middle;
        object-fit: cover;
    }

    textarea {
        width: 100%;
        border-radius: 20px;
        background: $bgLight;
        border: none;
        padding: 8px 8px 8px 16px !important;
        min-height: 40px;
        resize: none;
    }
}

.comment-panel {

    // padding: 0px 5px;
    .comment-panel-body {
        width: fit-content;
        background: $bgLight;
        padding: 8px 10px 8px 10px;
        color: #212529;
        border-radius: 20px;

        .comment-author {
            font-size: 13px;
            font-weight: bold;
        }

        .comment-detail {
            overflow: hidden;
            font-size: 15px;
        }
    }

    .reply {
        cursor: pointer;
        font-size: 13px;
        color: #6c757d;

        &:hover {
            color: $blue;
        }
    }
}
